
/* --------------------login page style-----------------------*/

header {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .cls1 {
    height: 40rem;
    width: 23rem;
    background-color: rgba(135, 207, 235, 0.557);
    border-radius: 1rem;
    border: 1px solid rgba(26, 71, 95, 0.288);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .cls1 .content h2 {
    /* color: #b22262; */
    position: relative;
    /* top: -2.5rem; */
    left: 25%;
  }
  
  .cls1 .content .card {
    height: 4.5rem;
    width: 18rem;
    /* background-color: rgba(135, 207, 235, 0.557); */
    border-radius: 1rem;
    /* border: 1px solid rgba(26, 71, 95, 0.288); */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0.5rem 0;
  }
  .cls1 .content .card label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
  .cls1 .content .card input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    background: none;
    border: 1px solid rgba(26, 71, 95, 0.288);
    border-radius: 0.5rem;
  }
  
  .cls1 .content .card input:focus {
    outline: none;
    border: 1px solid #b22262;
  }
  
  .cls1 .content .submit {
    width: 100%;
    margin-top: 2.5rem;
    font-weight: 600;
    font-size: 0.9rem;
    background: none;
    padding: 0.25rem;
    color: #b22262;
    border: none;
    border: 1px solid rgba(26, 71, 95, 0.288);
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .cls1 .content .submit:hover {
    background-color: rgba(26, 71, 95, 0.288);
    /* color: white; */
    border: 1px solid #b22262;
  }
  
  .cls1 .content .check {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* justify-content: space-between; */
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: -0.5rem;
    font-size: 0.8rem;
  }
  
  .check input {
    margin-left: 0.2rem;
    cursor: pointer;
    height: 100%;
    margin-right: 0.2rem;
  }
  .check a {
    -webkit-text-decoration: dashed underline transparent;
    text-decoration: dashed underline transparent;
    margin-left: 4.5rem;
  }
  
  .cls1 .para {
    position: absolute;
    margin-top: 4rem;
  }
  
  .cls1 .para a i {
    font-size: 0.7rem;
    color: #551a8b;
  }
  .cls1 .para a {
    font-family: "sans-serif", sans-serif, "serif", "monospace";
    font-size: 0.7rem;
    font-weight: 500;
    text-decoration: none;
  }
  .cls1 .para a:hover {
    text-decoration: underline;
  }
  
  .correct_pass p {
    position: relative;
    width: 100%;
    left: 35%;
    top: -8.5rem;
    font-size: 0.8rem;
    color: red;
    font-weight: 600;
    font-style: italic;
    /* setting animation only for 3s seconds only */
    -webkit-animation: blinking 0.7s;
    animation: blinking 0.7s;
    -webkit-animation-iteration-count: 5;
    animation-iteration-count: 5;
    display: none;
  }
  @-webkit-keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blinking {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }